 /* note list */

 .main-notes{
    columns: 4 220px;
    column-gap: 1em;
    row-gap: 1em;
 }

 .notes{
  border: 1px solid #e0e0e0;

    border-radius: 8px;

    margin: 5px;
    padding: 10px;
    break-inside: avoid;
 }

 .notes:hover {
    transform: translateY(-5px);

  }
 